.Playlist {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 50%;
    margin-left: 25px;
    margin-right: 50px;
}

.PlaylistInput {
    height: 30px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.7);
}

.PlaylistButton {
    height: 30px;
    width: 150px;
    margin-left: 10px;
    background-color: rgb(36, 112, 46);
}

.PlaylistButton:hover {
    background-color: #3e8e41;
    font-weight: bold;
}

.PlaylistButton:active {
  background-color: #36b33a;
}