.Playlist {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    width: 100%;
    margin: 10px;
}

.PlaylistInput {
    height: 30px;
    width: 75%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.25em;
    background-color: rgba(0, 0, 0, 0.7);
}

.PlaylistButton {
    height: 30px;
    width: 150px;
    margin: 20px;
    background-color: rgb(36, 112, 46);
}

.PlaylistButton:hover {
    background-color: #3e8e41;
    font-weight: bold;
}

.PlaylistButton:active {
  background-color: #36b33a;
}